html, body, footer {
    display: block;
}

html {
    overflow: hidden;
    background-color: black;
}

body {
    height: 100%;
    width: 100%;
}

img {
    border-width: 0;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}
